.bookmarks-container {
    padding: 0 0;
	height: 100%;
	background: rgba(0,0,0,0.4);
}

.bookmarks-block {
	margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
}

/* container */
.three-columns-grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

* {
	box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .bookmarks-column {
	font-family: $sans-font;
	font-weight: $normal-weight;
	font-size: $h4;
	margin: 2rem auto 0 auto;
	color: $off-white;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	float: left;
	width: 33.33%;
	padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }